#contactButton{
    margin-top: 20px;
    margin-bottom: 30px;
    right: 0;
}

h1{
    font-size: 5rem;
    font-weight: 900;
    margin: 10px;
}

/* Başlık için düzenleme yapılacak */
h2 {
    font-size: 4rem;
    font-weight: 900;
    margin: 10px;
}

/* Slogan için düzenleme yapılacak */
h3 {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 900;
    margin: 10px;
}

/* Mobil özel görünüm */
@media (max-width: 600px){
    .scrollablePanel{
        min-height: 640px;
    }
}