#WelcomeLogo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInOutBackground 2s ease-in-out forwards;
}

/**************** Customize Animation Effect ****************/

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes fadeInOutBackground {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/****************************************************/
/**************** Header Main Footer ****************/
/****************************************************/
header,
main,
footer {
    visibility: hidden;
    animation-delay: 0.5s;
}

/****************************************************/
/**************** Customize Main Tag ****************/
/****************************************************/
#mainPage {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

.slide_sectors {
    position: relative;
    width: 20%;
    filter: grayscale(100%);
    transition: width 0.5s, filter 0.5s;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**************** Customize Hover Effect ****************/
.slide_sectors:hover {
    filter: grayscale(0%);
    width: 40%;
}

.slide_sectors:hover .sector_logo {
    opacity: 1;
}

.sector_img {
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.sector_logo {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1.0s;
    z-index: 5;
    opacity: 0;
}

#game-entertainment,
#artificial-intelligence,
#application_development {
    animation: slideInFromBottom 0.5s ease-in-out;
    animation-delay: 2s;
}

#embedded-systems,
#ar-vr-technologies {
    animation: slideInFromTop 0.5s ease-in-out;
    animation-delay: 2s;
}

#mainPageMobile {
    display: none;
}

@media (max-width: 600px) {

    html, body{
        overflow-y: auto;
    }

    header {
        background-color: rgba(0, 0, 0, 0.4);
        top: 0;
    }

    main {
        top: 0px;
        height: 80vh;
    }

    #menubar {
        background-color: rgba(0, 0, 0, 0.4);
    }

    #social_media a,
    #contact a {
        opacity: 1;
    }

    #mainPage {
        display: none;
    }

    #mainPageMobile {
        display: block;
    }

    .featured-sector {
        position: relative;
        height: 65vh;
        overflow: hidden;
    }

    .featured-image {
        height: 100%;
        transform: translateX(-50%);
        display: block;
    }

    #contactButton {
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translateX(-50%);
        /* z-index: 10; */
    }

    #sectorName{
        background-color: rgba(0, 0, 0, 0.3);
        object-fit: cover;
        object-position: center center;
        position: absolute;
        top: 47vh;
        left: 50%;
        transform: translateX(-50%);
        height: 5vh;
        width: 100%;
        opacity: 1;
        /* z-index: 10; */
    }

    .carousel-container {
        position: relative;
        height: 15vh;
    }

    .carousel {
        height: 100%;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        touch-action: none;
    }

    .carousel-slider {
        display: flex;
        transform: translateX(-40%);
        animation: transform 1s;
    }

    .carousel-item {
        flex: 0 0 auto;
        width: 60%;
    }

    .carousel-item img {
        width: 100%;
        display: block;
    }

    .carousel-controls {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
    }

    #nextButton,
    #prevButton {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    #nextButton {
        right: 10px;
    }

    #prevButton {
        left: 10px;
    }

    .fa-solid {
        font-size: 9rem;
        color: white;
        opacity: 0.6;
    }

    footer {
        position: relative;
        top: 80vh;
    }

    #information {
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        margin: 0;
        top: 10vh;
        transform: translateY(-50%);
    }

    #information ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #social_media {
        margin: 0 15vw;
        justify-content: space-evenly;
    }

    #social_media a {
        margin: 0;
        font-size: 4.5rem;
        opacity: 0.7;
    }

    #contact ul {
        flex-direction: row;
        margin: 0;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #contact a {
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
        opacity: 0.7;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .sector_logo {
        height: 25%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .sector_logo {
        height: 30%;
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    .sector_logo {
        height: 45%;
    }
}