#contactInformation {
    position: absolute;
    top: 180px;
    left: 60%;
    display: flex;
    flex-direction: column;
    width: 18%;
    justify-content: flex-end;
    align-items: flex-end;
}

#contactInformation div {
    flex: 1;
}

#contactInformation i {
    color: var(--effect-color);
    font-size: 4.5rem;
    margin: auto;
}

.information {
    display: flex;
    margin: 10px;
}

#location a,
#numbers a {
    font-size: 2rem;
    margin-left: 1vw;
    text-align: right;
}

#location a:hover,
#phone a:hover {
    text-decoration: underline;
}

.loading-spinner {
    margin-top: 50px;
}

@media (max-width: 1760px) {
    #contactInformation {
        width: 30%;
    }
}

@media (max-width: 600px) {
    #contactInformation {
        top: 10px;
        left: 10%;
        width: 80%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #location a,
    #phone a {
        font-size: 1.4rem;
        margin-left: 1vw;
        text-align: right;
    }

    #phone {
        justify-content: flex-end;
    }

    .transparent_background{
        top: 70px;
        width: 90%;
    }

    .scrollablePanel{
        min-height: 640px;
    }

    #contactInformation i {
        font-size: 2.5rem;
    }
}

@media (min-width: 601px){
    .transparent_background{
        width: 50%;
    }
}